
${userName} 様


Plat for Projects のエージェントです。

あなたのユーザ情報に興味を持ったプロジェクトがスカウトしました。


[プロジェクト情報]
==============================================
◇件名　　　　　　${pjTitle}

◇募集地域　　　　${pjRecruitmentAreaName}

◇プロジェクト概要
${pjOverView}

==============================================


[マネージャ情報]
==============================================
◇ユーザ名　　　　　${mgrUserName}

◇メール　　　　　${mgrEmail}

◇年齢層　　　　　${mgrAgeGroup}

◇お住まい　　　　　${mgrLiveName}

◇所属　　　　　　${mgrAffiliationName}

◇職種　　　　　　${mgrJobCategoryName}

◇概要（自身の経歴など）
${mgrOverView}

==============================================


なお、プロジェクト情報は以下のURLよりご参照できます。
　　${projectInfoUrl}


プロジェクトにご興味がありましたら、あなたについてお伝えして
相互理解にお努め頂けるようお願い致します。

あなた自身のスキルを磨けるプロジェクトであるといいですね。

今後ともよろしくお願い致します。


■■■------------------------------------------
■ Plat for Projects 
■   -プロジェクトのためのプラットフォーム-
   https://plat4u.com/projects/index            ■
   *このメールは送信専用です。                  ■
  ------------------------------------------■■■
