
${managerName} 様


Plat for Projects のエージェントです。

あなたのプロジェクトに参加を希望しているユーザ様がいっらしゃいますので
紹介させて頂きます。


[参加希望のプロジェクト]
${pjName}

[ユーザ様の情報]

◇ユーザ名　　${memberName}

◇メール　　　${email}

◇年齢層　　${ageGroup}

◇お住まい　　${liveName}

◇職種　　　　${jobCategoryName}

◇概要（経歴など）
${overView}


なお、ユーザ情報は以下のURLよりご参照できます。
　　${userInfoUrl}


ユーザ様にご興味がありましたら、プロジェクトの詳細についてお伝えして
相互理解にお努め頂けるようお願い致します。

プロジェクト成功の要になれるといいですね。

今後ともよろしくお願い致します。


■■■------------------------------------------
■ Plat for Projects 
■   -プロジェクトのためのプラットフォーム-
   https://plat4u.com/projects/index            ■
   *このメールは送信専用です。                  ■
  ------------------------------------------■■■
